# Databases and SQL for Data Science

In [ ]:
!pip install ipython-sql

### Loading the pandas and sqlite3 libraries

In [2]:
import sqlite3
import pandas as pd

### Establishing a connection to FinalDB.db

In [3]:
conn=sqlite3.connect('FinalDB.db')

### Loading the SQL magic module

In [4]:
%load_ext sql

### Establishing a connection between SQL magic module and the database FinalDB.db

In [5]:
%sql sqlite:///FinalDB.db

### Using Pandas to load the data available in the links above to dataframes. Using these dataframes to load data on to the database FinalDB.db as required tables

##### links: 

Chicago Census Data
https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01


Chicago Public Schools
https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

    
Chicago Crime Data
https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

In [56]:
df= pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA",conn, if_exists='replace',index= False,method ="multi")

df= pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA",conn, if_exists='replace',index= False,method ="multi")

df= pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA",conn, if_exists='replace',index= False,method ="multi")

533

In [57]:
%sql SELECT name FROM sqlite_master Where type='table'

 * sqlite:///FinalDB.db
Done.

[('PUBLIC_SCHOOL',),
 ('CENSUS_DATA',),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA',),
 ('CHICAGO_CRIME_DATA',)]

## Question 1 :Find the total number of crimes recorded in the CRIME table

In [8]:
%sql select count (*) As Total_crimes \
from CHICAGO_CRIME_DATA

 * sqlite:///FinalDB.db
Done.

[(533,)]

## Question 2 List community area names and numbers with per capita income less than 11000.

In [15]:
%%sql
select
  COMMUNITY_AREA_NAME,
    COMMUNITY_AREA_NUMBER, 
    PER_CAPITA_INCOME
from
  CENSUS_DATA
where
  PER_CAPITA_INCOME < 11000

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 26.0, 10934),
 ('South Lawndale', 30.0, 10402),
 ('Fuller Park', 37.0, 10432),
 ('Riverdale', 54.0, 8201)]

## Question 3 List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [13]:
%%sql
select
  id,
  case_number, 
  primary_type,
  description
from
  CHICAGO_CRIME_DATA
where
  description like '%minor%'

 * sqlite:///FinalDB.db
Done.

[(3987219, 'HL266884', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 (3266814, 'HK238408', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR')]

## Question 4 List all kidnapping crimes involving a child?

In [22]:
%%sql
select Distinct
  date,
  case_number, 
  primary_type,
  description
from
  CHICAGO_CRIME_DATA
where
  primary_type= 'KIDNAPPING'

 * sqlite:///FinalDB.db
Done.

[('2007-01-26', 'HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

## Question 5 List the kind of crimes that were recorded at schools. (No repetitions)

In [30]:
%%sql
select Distinct
  primary_type,
  location_description
from
  CHICAGO_CRIME_DATA
where
  location_Description like '%school%'
order by
  primary_type

 * sqlite:///FinalDB.db
Done.

[('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PUBLIC, BUILDING')]

## Question 6 List the type of schools along with the average safety score for each type.

In [45]:
%%sql
select 
  "Elementary, Middle, or Highschool",
   avg(safety_score)
from
  CHICAGO_PUBLIC_SCHOOLS_DATA
group by 
  "Elementary, Middle, or Highschool"

 * sqlite:///FinalDB.db
Done.

[('Elementary, Middle, or Highschool', 49.50487329434698)]

## Question 7 List 5 community areas with highest % of households below poverty line

In [47]:
%%sql
select community_area_name,
   percent_households_below_poverty
from
  CENSUS_DATA
order by percent_households_below_poverty Desc
limit 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

## Question 8 Which community area is most crime prone? Display the coumminty area number only.

In [49]:
%%sql
SELECT community_area_number, COUNT(community_area_number) AS frequency
FROM CHICAGO_CRIME_DATA
GROUP BY community_area_number
ORDER BY COUNT(community_area_number) DESC
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]

## Question 9 Use a sub-query to find the name of the community area with highest hardship index

In [51]:
%%sql
select community_area_name,
   hardship_index
from
  CENSUS_DATA
where
  hardship_index= (select MAX(hardship_index)from CENSUS_DATA);

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 98.0)]

## Question 10 Use a sub-query to determine the Community Area Name with most number of crimes?

In [54]:
%%sql
select community_area_name from CENSUS_DATA
where COMMUNITY_AREA_NUMBER = (select COMMUNITY_AREA_NUMBER from CHICAGO_CRIME_DATA
  group by COMMUNITY_AREA_NUMBER
  order by COUNT (COMMUNITY_AREA_NUMBER) DESC
  Limit 1)
Limit 1;

 * sqlite:///FinalDB.db
Done.

[('Austin',)]